<main class="login-container">
  <div class="card">
    <section class="card-header">
      <h2>Login</h2>
    </section>
    <section class="card-body">
      <form (ngSubmit)="login()" ngNativeValidate>
        <div class="mb-3">
          <label for="inputEmail" class="form-label">Correo Electrónico</label>
          <input [(ngModel)]="loginData.email" name="email" type="email" class="form-control" id="inputEmail" placeholder="nombre@ejemplo.com" required>
          @if(errorMessage.length > 0){
            <div>
              {{errorMessage}}
            </div>
          }
        </div>
        <div class="mb-3">
          <label for="inputPassword" class="form-label">Contraseña</label>
          <input [(ngModel)]="loginData.password" name="password" type="password" class="form-control" id="inputPassword" placeholder="Contraseña" required>
        </div>
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
      </form>
    </section>
    <section class="register-client">
      <p>¿No estas registrado?</p>
      <a [routerLink]="registerUrl">Register</a>
    </section>
  </div>
  <spinner [show]="showSpinner" [message]="spinnerMessage"></spinner>
</main>
