<main class="register-container">
  <div class="card">
    <section class="card-header">
      <h2>Registro</h2>
    </section>
    <section class="card-body">
      <form (ngSubmit)="register()" ngNativeValidate>
        <div class="mb-3">
          <label for="inputName" class="form-label">Nombres y apellidos</label>
          <input [(ngModel)]="registerData.nombre" name="nombre" type="text" class="form-control" id="inputName" placeholder="Pepito perez" required>
        </div>
        <div class="mb-3">
          <label for="inputTel" class="form-label">Telefono</label>
          <input [(ngModel)]="registerData.telefono" name="telefono" type="tel" class="form-control" id="inputTel" placeholder="1234567890">
        </div>
        <div class="mb-3">
          <label for="inputEmail" class="form-label">Correo Electrónico</label>
          <input [(ngModel)]="registerData.email" name="email" type="email" class="form-control" id="inputEmail" placeholder="nombre@ejemplo.com" required>
          @if(errorMessage.length > 0){
            <div>
              {{errorMessage}}
            </div>
          }
        </div>
        <div class="mb-3">
          <label for="inputPassword" class="form-label">Contraseña</label>
          <input [(ngModel)]="registerData.password" name="password" type="password" class="form-control" id="inputPassword" placeholder="Contraseña" required>
        </div>
        <button type="submit" class="btn btn-primary">Registrarme</button>
      </form>
    </section>
    <section class="login-client">
      <p>¿Ya estas registrado?</p>
      <a [routerLink]="loginUrl">Iniciar sesión</a>
    </section>
  </div>
  <spinner [show]="showSpinner" [message]="spinnerMessage"></spinner>
</main>
